.container{
    background-color: #171717;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 188.53px;
    color: #B0B0B0;
}

.milestone{
    padding-bottom: 60px;
}

.milestone h1{
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    margin: 0;
}

.milestone p{
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-align: center;
}

@media(max-width:1200px){
    .container{
        padding: 60px 115px;
    }
}

@media(max-width: 992px){
    .container{
        padding: 60px 68px;
    }
}

@media(max-width:768px){
    .container{
        flex-direction: column;
    }

    .milestone{
        
    }
}